.navigacija{
    width:100%;
    margin-top: 20px;
    margin-bottom: 60px;
    margin-left: 60px;
}

.disp-flex{
    display:flex;
    width: 100%;
}

.linkovi{
    width:100%;
    text-decoration: none;
    padding: 20px !important;

}
.kosara{
    padding: 20px;
}
.gumb{
    border: white;
}